{% extends "layouts/base.html" %}

{% load staticfiles %}
{% block content %}

    {% include "layouts/nav.html" %}

    <section class="header-section">
        <div id='map'></div>
        <div class="row">
            <div class="col-md-6">
                <div class="padding">
                    <form>
                        <div class="form-group" style="padding-right: 10px;">
                            <input type="text" id="search-input" name="search" class="form-control input-lg"
                                   placeholder="Search by city" style="text-align: left;">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-1 padding">
                <button class="defaultButton defaultButtonSearch pull-right" id="search"
                        style="font-size: 20px; font-weight: 300;">Search
                </button>
            </div>
            <div class="col-md-5 show-hide">
                <div class="padding">
                    <div class="bidCard double-padding">

                        <div class="bidCardTitlePrimary">
                            <div id="bid-title" style="padding-bottom:5px;">
                                <h1>University of Cape Town, </h1>

                                <p class="currenct-bid"><i> ends in 5 days.</i></p>
                            </div>

                            <h4>Located inside the student center on campus.</h4>
                            <!-- Nav tabs -->
                        </div>

                        <div class="padding">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#january" aria-controls="january"
                                                                          role="tab"
                                                                          data-toggle="tab">January</a></li>
                                <li role="presentation"><a href="#february" aria-controls="february" role="tab"
                                                           data-toggle="tab">February</a></li>
                                <li role="presentation"><a href="#march" aria-controls="march" role="tab"
                                                           data-toggle="tab">March</a></li>
                            </ul>
                        </div>
                        <br>

                        <div class="col-md-5" style="padding-bottom:10px;">
                            <img class="img-responsive" src="{% static 'vendy/img/vending.jpg' %}"/>
                        </div>

                        <div>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="january">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <table class="table table-striped" style="padding-bottom: 0;">
                                                <tbody>
                                                <tr>
                                                    <th scope="row">Last Month's Price</th>
                                                    <td>$119,00</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Last Month's Revenue</th>
                                                    <td>$1500,00</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Average Price</th>
                                                    <td>$112,00</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Average Revenue</th>
                                                    <td>$993,00</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <button class="defaultButton defaultButtonStats pull-left">Stats
                                            </button>
                                            <button class="defaultButton defaultButtonStats pull-right">Specs
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row padding">
                                    <div class="bidCardContent">
                                        <form>
                                            <div id="current-bid-price" style="padding-bottom:5px;">
                                                <h4 class="current-bid">Current bid is &nbsp;</h4>

                                                <h2 class="current-bid"><b>$101.00</b></h2>

                                                <h4 class="current-bid">, place your bid now:</h4>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control input-lg" id="amount"
                                                       name="amount"
                                                       placeholder="Minimum of $102,00">
                                            </div>
                                            <button class="defaultButton defaultButtonBid pull-right"
                                                    style="font-size: 25px; font-weight: 300;">Bid Now
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="february">

                                </div>
                                <div role="tabpanel" class="tab-pane" id="march">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.js'></script>
    <script>

        $('.show-hide').hide();

        mapboxgl.accessToken = 'pk.eyJ1Ijoibm9ydG9ucnlhbjEiLCJhIjoiY2lzMWs4eG5iMDd2NDJubXoweXMzdmY0OSJ9.tzK9XEGav_T36H_wYM4isg';

        var geojson = {
            "type": "FeatureCollection",
            "features": [
                {
                    "type": "Feature",
                    "properties": {
                        "message": "Foo",
                        "iconSize": [60, 60]
                    },
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -66.324462890625,
                            -16.024695711685304
                        ]
                    }
                },
                {
                    "type": "Feature",
                    "properties": {
                        "message": "Bar",
                        "iconSize": [50, 50]
                    },
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -61.2158203125,
                            -15.97189158092897
                        ]
                    }
                },
                {
                    "type": "Feature",
                    "properties": {
                        "message": "Baz",
                        "iconSize": [40, 40]
                    },
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -63.29223632812499,
                            -18.28151823530889
                        ]
                    }
                },
                {
                    "type": "Feature",
                    "properties": {
                        "message": "Foo",
                        "iconSize": [60, 60]
                    },
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            18.4612,
                            -33.9577
                        ]
                    }
                }
            ]
        };

        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v9',
            center: [-65.017, -16.457],
            zoom: 5
        });

        // add markers to map
        geojson.features.forEach(function (marker) {
            // create a DOM element for the marker
            var el = document.createElement('div');
            el.className = 'marker';
            el.style.backgroundImage = 'url(https://placekitten.com/g/' + marker.properties.iconSize.join('/') + '/)';
            el.style.width = marker.properties.iconSize[0] + 'px';
            el.style.height = marker.properties.iconSize[1] + 'px';

            el.addEventListener('click', function () {
                $('.show-hide').toggle(1000);
            });

            // add marker to map
            new mapboxgl.Marker(el, {offset: [-marker.properties.iconSize[0] / 2, -marker.properties.iconSize[1] / 2]})
                    .setLngLat(marker.geometry.coordinates)
                    .addTo(map);
        });

        $("#search").click(function (event) {
            map.flyTo({center: [18.4612, -33.9577], zoom: 12});
        })

    </script>

{% endblock %}