<div class="modal" id="dimensions" style="margin-top:100px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">Specificatons</h2>
                <h4>for the Breezer F400</h4>
            </div>

            <div class="modal-body">
                <table class="table table-striped" style="padding-bottom: 0;">
                    <tbody>
                    <tr>
                        <th scope="row">Dimensions</th>
                        <td>72"H 35"D 39"W</td>
                    </tr>
                    <tr>
                        <th scope="row">Weight</th>
                        <td>20 oz. per item</td>
                    </tr>
                    <tr>
                        <th scope="row">Quantity</th>
                        <td>20 per row</td>
                    </tr>
                    <tr>
                        <th scope="row">Cooling</th>
                        <td>No</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->